BasedOnStyle: GNU
Language: Cpp
Standard: c++20
LineEnding: LF

IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 4
NamespaceIndentation: All
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false

ColumnLimit: 80

PointerAlignment: Left
ReferenceAlignment: Pointer
DerivePointerAlignment: false
QualifierAlignment: Leave

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty

AlignAfterOpenBracket: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false

BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: Never
SpaceBeforeCtorInitializerColon: true

BreakInheritanceList: BeforeColon
SpaceBeforeInheritanceColon: true

Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: true

SpaceBeforeParens: Never
SpaceBeforeRangeBasedForLoopColon: true
SpacesInContainerLiterals: false

AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1
PenaltyExcessCharacter: 100

SortIncludes: CaseSensitive
IncludeBlocks: Merge
